
.container {

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home {
  border: 0;
  position: absolute;
  right: 0.96rem;
  top: 0.74rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 100;
  background-image: url(/page1/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff0;
}

.img_list {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
}

.img_list_q {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > img {
    width: 3.3rem;
    height: 4rem;
  }
}

.home_black {
  &:extend(.home);
  background-image: url(/page1/pintu/back.png);
}

.home_special {
  border: 0;
  position: absolute;
  right: 0.96rem;
  bottom: 0.74rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 100;
  background-image: url(/page1/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff0;
  transform: rotate(90deg);
}

.next {
  position: absolute;
  top: calc(50vh - 0.5rem);
  right: 1rem;
  width: 2.3rem;
  height: 2.22rem;
  border: 0;
  background-image: url(/page1/next.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff0;

}

.next_special {
  &:extend(.next);
  position: absolute;
  bottom: 2.25rem;
  border: 0;
  background-image: url(/page1/next.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff0;
  top: initial;
  right: initial;
}
.next_phone {
  &:extend(.next);
  bottom: 2.5rem;
  left: 40vw;
  top: initial;
}


.title {
  width: 10.23rem;
  height: 2.73rem;
  display: block;
  top: 4.42rem;
  background-image: url(/page1/title.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff0;
  position: absolute;
}

.txt {
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #FFFFFF;
  color: #271B12;
  line-height: 1rem;
}

.txt_con {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2.3rem;
}

.txt_one {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  line-height: 40px;
  font-size: 20px;
  font-family: fangmeng;
  font-weight: 400;
  color: #271B12;
  padding-right: 2.2rem;
}

.img1, .img2 {

  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  > img {
    height: 100vh;
  }

  overflow: hidden;

}
.gif_con {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  > img {
    width: 7.07rem;
    margin: 0.71rem 0;
  }
}
.img2_sut {
  transform: rotate(90deg);
  width: 100vh;
  height: initial !important;
}


.fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  background: rgba(27, 27, 27, 0.62);
  padding-top: 20.64rem;

}

.fixed_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
}

.fixed_btn {
  background-color: #fff0;
  margin: auto;
  border: none;
  outline: none;
  font-family: 'fangmeng';
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 4.08rem;
  }


  >div {
    background-color: #e4dddc;
    line-height: 1.01rem;
    width: 100%;
  }
  .btn_o {
    background-color: white;
    width: 3.72rem;
    height: auto;
  }
}

.fixed_special {
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-top: auto !important;
  margin-left: auto !important;
}

.fixed_special_1 {
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-top: auto !important;
  margin-left: auto !important;
  margin-right: -20vh;
}

.anmation1 {

}

.anmation2 {

}

.btn {
  width: 4.74rem;
  height: 2.29rem;
  position: absolute;
  display: block;
  bottom: 3.38rem;
  background-image: url("/page1/start.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  background-color: #fff0;
}

.phone_con {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  justify-content: space-around;
  align-items: center;

  > span {
    height: 2rem;
    width: 10rem;
    background-color: #e8d7c6;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0 1rem;
    font-family: fangmeng;
  }
  >button {
    height: 2rem;
    width: 4rem;
    font-family: fangmeng;
    font-size: 1rem;
    background-color: #e8d7c6;
    outline: none;
    border: none;
    border-radius: 0.2rem;
  }
}

.fixed_phone {
  position: absolute;
  transition: opacity ease-in-out 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-color: rgba(154, 123, 123, 0.54);
  .phone_item {
    background-image: url('/page1/phone.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 13.32rem;
    height: 25.43rem;
    margin: auto;
    margin-top: 3.8rem;
    display: block;
    position: relative;
    .header {
      width: 10.33rem;
      height: 2.22rem;
      position: absolute;
      top: 2.19rem;
      left: 1.51rem;
      background: #EFC3A3;
      border-radius: 0.44rem 0.44rem 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      > span {
        font-family: fangmeng;
        font-size: 1rem;

      }
      >img {
        width: 1.06rem;
        height: 1.02rem;
      }
    }

  }
}

.message {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
  > img {
    width: 1.95rem;
    height: 1.95rem;
  }
  > span {
    max-width: 5.25rem;
    line-height: 0.62rem;
    display: inline-block;
    font-size: 0.5rem;
    font-family: fangmeng;
    background: #EFC3A3;
    padding: 0.31rem 0.45rem;
    border-radius: 0.2rem;
  }
}

.phone_body {
  position: absolute;
  top: 6.02rem;
  left: 2.27rem;
}

.phone_footer {
  position: absolute;
  bottom: 2.19rem;
  width: 10.33rem;
  height: 2.22rem;
  left: 1.51rem;
  background: #EFC3A3;
  border-radius: 0px 0px 0.44rem 0.44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  > span {
    height: 1.2rem;
    width: 6rem;
    background-color: #FEE9DA;
  }
  > button {
    width: 2rem;
    height: 1.2rem;
    font-family: fangmeng;
    font-size: 0.5rem;
    border-radius: 0.23rem;
    background: #FEE9DA;
  }
}

.fixed_list {
  z-index: 1;
  animation: animation_list 1.5s ease-in-out;
  position: absolute;
  bottom: 2.68rem;
  left: 2.33rem;
  width: 8.58rem;
  background: #583324;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.4rem;
  > div {
    font-size: 0.5rem;
    font-family: fangmeng;
    line-height: 2rem;
    color: #dfc8ba;
    border-bottom: 1px solid #653f30;
    width: 100%;
    text-align: center;
  }

}
@keyframes animation_list {
  from { opacity: 0; }
  to{ opacity: 1; }
}
@keyframes shaya {
  from { background-image: url("/page1/9.png"); }
  to{ background-image: url("/page1/10.png"); }
}

.shaya_move {
  animation:shaya 900ms ease-in 100ms infinite;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.zhong {
  animation:move 1500ms 0s infinite;
}

@keyframes move {
  0%, 65%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  70% {
    -webkit-transform:rotate(6deg);
    transform:rotate(6deg);
  }
  75% {
    -webkit-transform:rotate(-6deg);
    transform:rotate(-6deg);
  }
  80% {
    -webkit-transform:rotate(6deg);
    transform:rotate(6deg);
  }
  85% {
    -webkit-transform:rotate(-6deg);
    transform:rotate(-6deg);
  }
  90% {
    -webkit-transform:rotate(6deg);
    transform:rotate(6deg);
  }
  95% {
    -webkit-transform:rotate(-6deg);
    transform:rotate(-6deg);
  }
  100% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
}
.dialog22 {
  width: 12rem;
  position: absolute;
  margin: auto;
  bottom: 3rem;
  > img {
    width: 100%;
  }
  > div {
    width: 100%;
    position: absolute;
    top: 3rem;
    >span {
      display: block;
      font-size: 1.03rem;
      font-family: fangmeng;
      font-weight: 400;
      color: #FCE9D0;
      line-height: 3rem;
      text-align: center;
    }
  }
}
.phone_img_move {
  animation:move 500ms 0s infinite;
}
.zhong_con {
  position: absolute;
  bottom: 4rem;
  background-image: url("/page1/zhongCon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 10.95rem;
  left: 2.67rem;
  height: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    animation:move 500ms 0ms infinite;
    width: 6.27rem;
    height: 3.92rem;
  }
}
.phonels {
  position: absolute;
  top: 8rem;
  left: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .touxiang {
    width: 6rem;
    margin-bottom: 1rem;
  }
  .txtK {
    font-family: fangmeng;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .clock {
    margin-top: -2rem;
    margin-bottom: 1rem;
    > img {
      width: 3.63rem;
    }
  }
  .ysq{
    margin-top: 1rem;
    > img {
      width: 2.63rem;
    }
  }
  .caozuo {
    display: flex;
    width: 8rem;
    justify-content: space-between;
     > img {
       width: 2.63rem;
       height: 2.63rem;
     }
  }
  .caozuo1{
    &:extend(.caozuo);
    justify-content: space-around;
    > img {
      width: 1.63rem;
      margin: 0 0.3rem;
    }

  }
}
